:root {
    font-family: 'Ubuntu', sans-serif;
}

.bg {
    background: no-repeat url(./assets/background.jpg);
    background-size: 100vw;
    text-align: center;
    background-color: black;
}

.header {
    margin: 3vh auto 3vh auto;
    background-color: rgba(0, 0, 0, 0.432);
    width: 40vw;
    padding: 3vh 3vw;
    border-radius: 10px;
    color: blanchedalmond;
}

.header__logo {
    width: 8vw;
}

.header__title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 2vh;
    padding: 2vh 2vw;
}

.header__description {
    font-style: italic;
}

.form {
    background-color: rgba(92, 92, 92, 0.37);
    width: max-content;
    border-radius: 10px;
    padding: 3vh 3vw;
    margin: 0 auto 0 auto;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label-inicial,
.form__label-desired {
    font-weight: 700;
    margin-bottom: 2.5vh;
}

.form__input {
    font-size: 18px;
    width: 70%;
    height: 32px;
    border-radius: 10px;
    text-align: center;
}

.form__select-inicial,
.form__select-desired {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vh;
    height: max-content;
    width: max-content;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin-bottom: 2.5vh;
    padding: 3px;
}

.form__button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vh;
    height: max-content;
    width: max-content;
    text-align: center;
    border-radius: 10px;
    margin: 1vh 0 2.5vh 0;
    padding: 10px;
}

.result {
    font-size: 20px;
    color: antiquewhite;
    background-color: black;
    padding: 2vh 0.5vw;
    border-radius: 10px;
    width: 70%;
    height: 2vh;
}

@media screen and (max-width: 1024px) {
    .bg {
        background-image: linear-gradient(rgba(128, 127, 139, 100), rgba(0, 0, 0, 100));
        text-align: center;
    }

    .header__logo {
        width: 20%;
    }

    .form,
    .header {
        width: 70%;
    }

    .form__label-inicial,
    .form__label-desired {
        font-size: 2vh;
    }

    .form__input {
        width: 35vw;
    }

    .result {
        width: 35vw;
    }
    
}