:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

body {
    background-color: var(--body-bg-color);
}

main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 50vw;
    height: 100vh;
    margin-left: 30px;
    background-color: var(--body-bg-color);
}

.logo__cabecalho {
    width: 389px;
    height: 94px;
    margin: 50px 30px;
}

.titulo {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--title-color);
    margin-top: 20px;
    margin-bottom: 1em;
}

.subtitulo,
.texto__formulario,
.texto__link {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.subtitulo,
.texto__principal {
    color: #ffffff;
    margin-bottom: 1em;
}

.texto__formulario {
    color: var(--form-color);
    margin-bottom: 1.5em;    
}

.texto__principal {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    line-height: 1.5em;
    margin-bottom: 4em;
}

.formulario {
    margin: 55px 0 55px 0px;
    display: inline;
}

.input__completo {
    display: flex;
    margin-bottom: 2.5em;
    width: 58vw;
    vertical-align: middle;
}

.input__email {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    color: #6A6A6A;
    height: 40px;
    width: calc(58vw - 40px);
    box-shadow: 4px 10px 15px black;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left: solid 5px var(--title-color);
    border-right-width: 0;
}

.input__enviar {
    height: 42px;
    width: 50px;
    background-image: url(./assets/button.png); 
    border: none;   
}

.texto__link {
    color: var(--bg-button-color);
    text-decoration: none;
}

aside {
    position: fixed;
    z-index: 1;
    left: 25vw;
    top: 0vh;
}

.imagem__leitor {
    height: 100vh;
    width: 75vw;
}

.imagem__link {
    vertical-align: middle;
}

@media (max-width:1024px) {
    main {
        position: relative;
        margin-left: 5vw;
    }

    .logo__cabecalho {
       width: 80vw;
       height: auto;
       margin: 5vw 5vh 5vw 5vh;
    }

    .titulo {
        font-size: 1.5rem;
        margin: 2vh auto 2vh 10vw;
        width: 80vw;
    }

    .subtitulo {
        margin-top: 2vh;
        width: 80vw;
    }

    .texto__principal {
        margin-left: 5vw;
        margin-bottom: 4em;
        width: 80vw;
    }

    .input__completo {
        width: 90vw;
    }

    .input__email {
        height: 40px;
        width: calc(80vw - 40px);
    }

    .imagem__leitor {
        display: none;
    }
    
    .titulo {
        width:90vw;
        margin: 0 auto 0 auto;
    }
}

