<!DOCTYPE html>
<html lang="en">

    <%- include('../parts/head') %>

    <body class="container">

        <%- include('../parts/header') %>
        
        <main>
            <div class="bg-light p-5 rounded-lg m-3">
                <h1>Sobre mim</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum ad, nisi autem in asperiores cum
                    hic non aliquam maxime harum obcaecati expedita deleniti dolores? A repellendus laborum accusantium
                    iure placeat!</p>

            </div>
        </main>

        <%- include("../parts/footer", {pagina: 'Sobre'}) %>

    </body>

</html>